{{- if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

HOMEBREW_GITHUB_API_TOKEN = {{ onepasswordRead "op://Personal/GitHub Metadata Read-Only Access Token/credential" }}
brew bundle --file=/dev/stdin <<EOF
tap "lgug2z/tap/komorebi-for-mac-nightly"
EOF
{{ end -}}