{{- if eq .chezmoi.os "darwin" -}}
{{- if lookPath "op" -}}
	#!/bin/zsh
	HOMEBREW_GITHUB_API_TOKEN={{ onepasswordRead "op://Home Lab/Gitea - github-mirrors /password" | trim }}
	brew bundle --file=/dev/stdin <<EOF
	tap "lgug2z/tap"
	brew "komorebi-for-mac-nightly"
	EOF
{{- end -}}
{{- end -}}