[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-vi-mode"]
    type = "archive"
    url = "https://github.com/jeffreytse/zsh-vi-mode/archive/refs/tags/v0.11.0.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/refs/tags/v0.7.1.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

{{- $jqOS := .chezmoi.os }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $jqOS = "macos" }}
{{- end }}
{{- $jqArch := .chezmoi.arch }}
{{- if eq .chezmoi.arch "386" }}
{{-   $jqArch = "i386" }}
{{- end }}
[".local/bin/jq"]
    type = "file"
    url = "https://github.com/jqlang/jq/releases/download/jq-1.7.1/jq-{{ $jqOS }}-{{ $jqArch }}"
    executable = true
    refreshPeriod = "672h"
