services:
  dotfiles-test:
    platform: linux/amd64
    image: debian:bookworm-slim
    user: "3000:3000"
    volumes:
      - ./:/home/user/.local/share/chezmoi:ro
    working_dir: /home/user
    stdin_open: true
    tty: true
    environment:
      - TERM=xterm-256color
      - HOME=/home/user
