{{- if .isWork }}
MCP_SLACK_XOXC_TOKEN="op://Developer/Slack/SLACK_MCP_XOXC_TOKEN"
MCP_SLACK_XOXD_TOKEN="op://Developer/Slack/SLACK_MCP_XOXD_TOKEN"
MCP_SLACK_USER_AGENT="op://Developer/Slack/SLACK_MCP_USER_AGENT"
MCP_SLACK_CUSTOM_TLS="op://Developer/Slack/SLACK_MCP_CUSTOM_TLS"
YELP_CHATBENCH_API_KEY="op://Developer/Yelp Search/YELP_CHATBENCH_API_KEY"
{{- end }}