{
  "mcpServers": {
    "basic-memory": {
      "type": "http",
      "url": "http://192.168.6.99/basic-memory"
    },
    "firecrawl": {
      "type": "http",
      "url": "http://192.168.6.99/firecrawl"
    },
    "github": {
      "type": "http",
      "url": "http://192.168.6.99/github"
    },
    "sequentialthinking": {
      "type": "http",
      "url": "http://192.168.6.99/sequentialthinking"
    },
    "context7": {
      "type": "http",
      "url": "http://192.168.6.99/context7"
    },
    "brave-search": {
      "type": "http",
      "url": "http://192.168.6.99/brave-search"
    }{{- if .isWork }},
    "yelp-github": {
      "type": "http",
      "url": "https://chatproxy.yelpcorp.com/github/mcp",
      "headers": {
        "x-litellm-api-key": "Bearer {{ .authToken }}"

      }
    },
    "sourcegraph": {
      "type": "http",
      "url": "https://yelp-ai-tools-platform.yelpcorp.com/sourcegraph_mcp/mcp/"
    },
    "playwright": {
      "command": "npx",
      "args": [
        "@playwright/mcp@latest",
        "--extension",
        "--browser",
        "chrome"
      ]
    },
    "yelp-google-drive": {
      "type": "http",
      "url": "https://chatproxy.yelpcorp.com/google/mcp",
      "headers": {
        "x-litellm-api-key": "Bearer {{ .authToken }}"
      }
    }{{- end }}
  }
}
