{
  "mcpServers": {
    "basic-memory": {
      "type": "http",
      "url": "http://10.0.0.5/basic-memory"
    },
    "todoist": {
      "type": "http",
      "url": "http://10.0.0.5/todoist"
    },
    "firecrawl": {
      "type": "http",
      "url": "http://10.0.0.5/firecrawl"
    },
    "github": {
      "type": "http",
      "url": "http://10.0.0.5/github"
    },
    "sequentialthinking": {
      "type": "http",
      "url": "http://10.0.0.5/sequentialthinking"
    },
    "context7": {
      "type": "http",
      "url": "http://10.0.0.5/context7"
    },
    "brave-search": {
      "type": "http",
      "url": "http://10.0.0.5/brave-search"
    }
    {{- if .isWork }},
    "yelp-github": {
      "type": "http",
      "url": "https://chatproxy.yelpcorp.com/github/mcp",
      "headers": {
        "x-litellm-api-key": "Bearer {{ .authToken }}"
      }
    },
    "sourcegraph": {
      "type": "http",
      "url": "https://yelp-ai-tools-platform.yelpcorp.com/sourcegraph_mcp/mcp/"
    },
    "playwright": {
      "command": "npx",
      "args": [
        "@playwright/mcp@latest",
        "--extension",
        "--browser",
        "chrome"
      ]
    },
    "yelp-google-drive": {
      "type": "http",
      "url": "https://chatproxy.yelpcorp.com/google/mcp",
      "headers": {
        "x-litellm-api-key": "Bearer {{ .authToken }}"
      }
    },
    "ai_tools_jira": {
      "type": "http",
      "url": "https://chatproxy.yelpcorp.com/ai_tools_jira/mcp",
      "headers": {
        "x-litellm-api-key": "Bearer {{ .authToken }}"
      }
    },
    "ai_tools_slack": {
      "type": "http",
      "url": "https://chatproxy.yelpcorp.com/ai_tools_slack/mcp",
      "headers": {
        "x-litellm-api-key": "Bearer {{ .authToken }}"
      }
    },
    "meeting_insights": {
      "type": "http",
      "url": "https://chatproxy.yelpcorp.com/meeting_insights/mcp",
      "headers": {
        "x-litellm-api-key": "Bearer {{ .authToken }}"
      }
    },
    "ai_tools_splunk": {
      "type": "http",
        "url": "https://chatproxy.yelpcorp.com/ai_tools_splunk/mcp",
        "headers": {
          "x-litellm-api-key": "Bearer {{ .authToken }}"
        }
    },
	 "slack": {
	      "command": "docker",
	      "args": [
		"run",
		"-i",
		"--rm",
		"-e",
		"SLACK_MCP_XOXC_TOKEN",
		"-e",
		"SLACK_MCP_XOXD_TOKEN",
		"-e",
		"SLACK_MCP_USER_AGENT",
		"-e",
		"SLACK_MCP_CUSTOM_TLS",
		"-e",
		"SLACK_MCP_USERS_CACHE",
		"-e",
		"SLACK_MCP_CHANNELS_CACHE",
		"--mount",
		"type=volume,source=mcp_slack_cache,target=/app/.cache/",
		"ghcr.io/korotovsky/slack-mcp-server",
		"mcp-server",
		"--transport",
		"stdio"
	      ],
	      "env": {
		"SLACK_MCP_XOXC_TOKEN": "${MCP_SLACK_XOXC_TOKEN}",
		"SLACK_MCP_XOXD_TOKEN": "${MCP_SLACK_XOXD_TOKEN}",
		"SLACK_MCP_USER_AGENT": "${MCP_SLACK_USER_AGENT}",
		"SLACK_MCP_CUSTOM_TLS": "${MCP_SLACK_CUSTOM_TLS}",
		"SLACK_MCP_USERS_CACHE": "/app/.cache/.users_cache.json",
		"SLACK_MCP_CHANNELS_CACHE": "/app/.cache/.channels_cache.json"
	      }
	    }
  {{- end }}
  }
}
